<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading" align="center"><h4><%= t('movie.editing') %></h4></div>
      <div class="panel-body">
        <%= render 'form', movie: @movie %>
      </div>
    </div>
  </div>
</div>
