<div class="row">
  <div class="col-md-4 col-md-offset-4">
  <h1><%= t('movie.editing') %></h1>
    <%= render 'form', movie: @movie %>
    <%= link_to t('movie.show'), @movie, {class: 'btn btn-default'} %>
    <%= link_to t(:back), movies_path, {class: 'btn btn-default'} %>
  </div>
</div>
